<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.code">


    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:label="Code">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="io.flutter.embedding.android.FlutterActivity">
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
        </activity>
    </application>
</manifest>
